html,body {
  background-color: whitesmoke;
}

h2 {
  text-transform: lowercase;
}

::selection {
background-color: #92AB50;
color: white;
  }

li.brandli {
  display: block;
}


@media only screen and (min-width: 766px) {

li.brandli {
  display: inline-block;
}

li.brandli span {
  display: none;
}

}


body {
  font-family: 'Poiret One', sans-serif;
  font-weight: 900;
  width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #FAFAFA;
}

h1, h2 {
  font-weight: 700;
  color: #FFF;
  font-weight: 700;
  font-size: 4em;
  margin: 0;
  padding: 0 20px;
}

.content-container {
/*height: 100%;*/
/*min-height: 1200px;*/
min-width: 100%;
position: absolute;
top: 0;
margin-bottom: 225px;
background-color: whitesmoke;
overflow: visible;
}

.instructions {
 
  position: relative;
  top: 300px;

}

@media only screen and (max-width: 550px) {
  .content-container {
margin-bottom: 377px;
height: 100%;
  padding: 0;

  }

  }

/*------------FORM BACKGROUND WHEN ACTIVE/EXPANDED------*/

.form-overlay {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  background: #000;
  -webkit-transition: background 1s, opacity 0.4s, width 0s 0.4s;
  transition: background 1s, opacity 0.4s, width 0s 0.4s;
}

.show-form-overlay .form-overlay {
  width: 100%;
  opacity: 0.7;
  z-index: 999;
  -webkit-transition: background 1s, opacity 0.4s, width 0s;
  transition: background 1s, opacity 0.4s, width 0s;
}
.show-form-overlay.form-submitted .form-overlay {
  /*background: #92AB50;*/
  -webkit-transition: background 0.6s;
  transition: background 0.6s;
}

.form-submitted #form-container.expand, .form-submitted #contact-form.expand {
  background-color: #92AB50;
}



/*------------FORM BACKGROUND WHEN ACTIVE/EXPANDED------*/

/*-----------------------FORM CONTAINER STYLING----------------*/

#form-container {
  cursor: pointer;
  color: #FFF;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 400px;
  background-color: #F9A03F;
  overflow: hidden;
  border-radius: 50%;
  width: 60px;
  max-width: 60px;
  height: 60px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.2s 0.45s, height 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.25s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s, width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s;
  transition: all 0.2s 0.45s, height 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.25s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s, width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s;
}

@media (max-width: 500px) {
  .instructions {
    top: 200px;
  }

  #form-container {
    top: 375px;
}
}


#form-container.expand {
  cursor: auto;
  z-index: 1000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.17);
  border-radius: 0;
  width: 70%;
  height:auto;
  top: 65px;
  overflow: visible;
  position: absolute;
  min-width: 610px;
  background-color: #333;
  -webkit-transition: all 0.2s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s, height 0.3s ease 0.25s;
  transition: all 0.2s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s, height 0.3s ease 0.25s;
}

/*-----------------------FORM CONTAINER STLYING----------------*/
/*-----------ICON STYLING----------------*/
#form-close {
  cursor: pointer;
}

.icon::before {
  cursor: pointer;
  font-size: 30px;
  line-height: 60px;
  display: block;
  -webkit-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover::before {
  -webkit-animation: wiggle 0.1s linear infinite;
          animation: wiggle 0.1s linear infinite;
}


.fa-pencil::before {
  display: block;
}

/*.fa-close::before {
  display: none;
}*/

.expand.fa-pencil::before {
  display: none;
}

.expand.fa-close::before {
  display: block;
  -webkit-animation: none;
          animation: none;
}
/*-----------ICON STYLING----------------*/

/*-----------FORM CONTENT STYLING------------*/
#form-content {
  font-family: 'Poiret One', sans-serif;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  width: 100%;
  opacity: 0;
  text-align: left;
  -webkit-transition: opacity 0.2s 0.2s, -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s 0.2s, -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s 0.2s;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s 0.2s, -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

#form-content.expand {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: opacity 0s, -webkit-transform 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  transition: opacity 0s, -webkit-transform 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, opacity 0s;
  transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, opacity 0s, -webkit-transform 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

#form-content form {
  color: #FFF;
  background-color: #333;
  width: 100%;
  /*height: 100%;*/
  padding: 0 20px 20px 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: left;
}

#form-head {
  font-size: 100%;
  padding: 0;
  margin: 0 20px;
  color: #FFF;
  text-align: center;
  -webkit-transition: all 0.8s 0.6s;
  transition: all 0.8s 0.6s;
}


#form-head h1, #form-head p {
  padding: 0;
  margin: 0;
}

#form-head .pre {
  display: block;
}

#form-head .post {
  display: none;
}


.form-submitted#form-head {
  -webkit-transform: translateY(125%);
          transform: translateY(125%);
}

.form-submitted#form-head .pre {
  display: none;
}

.form-submitted#form-head .post {
  display: block;
  text-align: center;
}

.form-submitted #job-form {
    background-color: #92AB50;
    height: 450px;
}

p#status{
  font-size: 20px;
}

/*-------------INPUTS-------------------*/

.input {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: block;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
  border-width: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}


*/
::-webkit-input-placeholder {
  /* Safari, Chrome and Opera */
  color: white;
  font-size: 90%;
  font-weight: 900;
}

/* Firefox 18- */
:-moz-placeholder {
  color: white;
  font-size: 90%;
  font-weight: 900;
}

/* Firefox 19+ */
::-moz-placeholder {
  color: white;
  font-size: 90%;
  font-weight: 900;
}

/* IE 10+ */
:-ms-input-placeholder {
  color: white;
  font-size: 90%;
  font-weight: 900;
}

/* Edge */
::-ms-input-placeholder {
  color: white;
  font-size: 90%;
  font-weight: 900;
}

/* Default */
:placeholder-shown {
  color: white;
  font-size: 90%;
  font-weight: 900;
}

input, select, textarea {
  color: #FFF;
}

.input.message {
  resize: none;
  height: 150px;
  padding: 10px;
}

.input.submit, .input.submit:visited, .input.submit:focus {
  background-color: #FFF;
  color: #F9A03F;
  font-size: 135%;
  height: 80px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.1s, -webkit-transform 0s 0.6s;
  transition: all 0.1s, -webkit-transform 0s 0.6s;
  transition: all 0.1s, transform 0s 0.6s;
  transition: all 0.1s, transform 0s 0.6s, -webkit-transform 0s 0.6s;
}

.input.submit:active, .input.submit:hover {
  color: white;
  background-color: #F9A03F;
  
}

.input.submit:active {
  margin-top: 15px;
  box-shadow: 0 0 rgba(0, 0, 0, 0.5);
}

.input.form-error {
  -webkit-animation: error 0.8s ease;
          animation: error 0.8s ease;
  background: #F9A03F;
}

.input {
  -webkit-transition: -webkit-transform 0s 1s;
  transition: -webkit-transform 0s 1s;
  transition: transform 0s 1s;
  transition: transform 0s 1s, -webkit-transform 0s 1s;
}

select option {
  background: #F9A03F;
  color: #FFF;
  border: none;
  box-shadow: none;
  outline: none;
}

select option:disabled {
  font-style: italic;
  color: rgba(255, 255, 255, 0.9);
  font-size: 90%;
}

label {
  display: block;
  padding-left:15px;
  text-indent: -15px;
}

/*LABELS INPUTS*/
#social_Facebook,
#social_LinkedIn,
#social_Instagram,
#social_Twitter ,
#full_time,
#part_time,
input[type="checkbox"],
input[type="radio"]
{
 width: 13px;
    height: 13px;
    padding: 0;
    margin:0 10px 0 0;
    /*margin-right: 10px;*/
    vertical-align: bottom;
    position: relative;
    top: -1px;
    overflow: hidden;
}

 input[type="file" i]::-webkit-file-upload-button {
  width: auto;
  color: #fff;
  border: none;
  border-radius: 2px;
  background: #92AB50;
}


.form-submitted .input, .form-submitted label, .form-submitted input.file, .form-submitted #socialchannels, .form-submitted  #hours {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  opacity: 0;
  -webkit-transition: all 0.5s, -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: all 0.5s, -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: all 0.5s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: all 0.5s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.form-submitted .input:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.form-submitted .input:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.form-submitted .input:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}


.form-submitted .input:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.form-submitted .input.file:nth-child(1) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.form-submitted .input.file:nth-child(2) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

/*.form-submitted p:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.form-submitted p:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}*/

.form-submitted label:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.form-submitted label:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}




input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}

/*-------------INPUTS-------------------*/


/*-----------FORM CONTENT STYLING------------*/


/*---------CONTACT US MEDIA QUERIES--------*/


@media (max-width: 600px) {
  #form-container.expand {
    
    width: 100%;
    min-width: 100%;
    bottom: 0;
  }

  h1 {
    font-size: 300%;
  }

  .icon:hover::before {
    -webkit-animation: none;
            animation: none;
  }

  .form-overlay {
    display: none;
    -webkit-transition: none;
    transition: none;
  }
}

@-webkit-keyframes error {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}

@keyframes error {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}


@-webkit-keyframes wiggle {
  0%, 100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}
@keyframes wiggle {
  0%, 100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}


/*--------------------------------------------------------------------------



                                      ABOUT.PHP



--------------------------------------------------------------------------*/


.wrapper {
  width: 100%;
  min-width: 100%;
  margin-bottom: 380px;
  background-color: whitesmoke;
  overflow: hidden;
}

.about {
  
  background-image:  url('../images/ingredients.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
.about.two {
  background-image: url('../images/beans.jpg');
}

.about.three {
  background-image: url('../images/produce.jpg');
}

.about.four {
  background-image: url('../images/coffee.jpeg');
}


.about,
.about.two,
.about.three,
.about.four {
  height: 250px;
}


h3 {
  text-align: center;
}


.about h2 {
  color: white;
  font-weight: normal;
  font-size: 3em;
  padding: 2em 0;
  margin: 0;
  text-shadow: 0 0 10px black;
  background: rgba(0,0,0,0.6);
}

.info-about {
  background-color: whitesmoke;
  color: #777;
  padding: 3em 10%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.three-column-grid {
  width: 100%;
  float: left;
  padding: 15px 15px;

}

.button_about {
  text-align: center;
}
.button_about a {
  display: inline-block;
  border: 2px solid #777;
  padding: .75em 1.5em;
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: .15em;
  word-spacing: .25em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.button_about a:hover {
  color: #FFFAF0;
  background: #777;
}


@media only screen and (min-width: 551px) {
  .wrapper {
margin-bottom: 225px;

position: relative;
  }
}



@media only screen and (min-width: 670px) and (max-width: 1009px) {

.about,
.about.two,
.about.three,
.about.four {
  height: 400px;
}

.about h2 {

  padding: 3.55em 0;
  
}

.three-column-grid {
  width: 50%;
  float: left;
  padding: 15px 15px;

}

p.three-column-grid:last-of-type {
display: table-row;
float: none;
text-align: justify;
}


}


@media only screen and (min-width: 1010px) {

.about,
.about.two,
.about.three,
.about.four {
  height: 500px;
}

.about h2 {
  color: white;
  font-weight: normal;
  font-size: 3em;
  padding: 4.6em 0;
  margin: 0;
  text-shadow: 0 0 10px black;
  background: rgba(0,0,0,0.6);
}

.three-column-grid {
  width: 33%;
  float: left;
  padding: 15px 15px;

}

.button_about {
    text-align: center;
    margin-top: 25px;
}

}



/*--------------------------------------------------------------------------



                                      MENU.PHP



--------------------------------------------------------------------------*/

.menu-category {
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

.deco {
  pointer-events: none;
}

.slideshow {
  position: relative;
  width: 100vw;
  margin: 10vh 0 5em;
}

.slide {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-align-items: center;
  align-items: center;
  width: 100vw;
  text-align: center;
}

.js .slide {
  position: absolute;
  /*z-index: 1000;*/
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

.slide.slide--current.slide--open {
    height: 100vh;
    width: 100vw;
    /*z-index: 1001;*/
}

.slide.slide--current {
  position: relative;
  visibility: visible;
  /*z-index: 1000;*/
}

.deco--circle {
  position: absolute;
  top: 0;
  border-radius: 50%;
  background: #fff;
}

.deco--circle-left {
  right: calc(100% - 140px);
}

.deco--circle-right {
  left: calc(100% - 140px);
}

.deco--circle,
.slide__inner {
  width: 450px;
  height: 450px;
}

.slide__item {
  position: relative;
  width: 100%;
}

.no-js .slide__item {
  display: none;
}

.slide__inner {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  pointer-events: auto;
}

.deco--expander {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -225px 0 0 -225px;
  border-radius: 50%;
  background: #fff;
}

.slide__title {
  position: relative;
  text-indent: 4px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #b2b2b4;
}

.slide__title--preview {
  font-size: 1.05em;
  margin: 2em 0 0 0;
  padding: 0;
  opacity: 0;
  text-align: center;
}

.slide__title--main {
  font-size: 2.5em;
  line-height: 1;
  margin: 0 0 0.25em;
  color: #464653;
}

.slide--current .slide__title--preview {
  opacity: 1;
}

.slide--open .slide__title--main {
  opacity: 1;
}

.slide__price {
  font-weight: bold;
  display: inline-block;
  color: #464653;
}

.slide__price--large {
  font-size: 1.3em;
  vertical-align: middle;
}

.slide__img {
  position: relative;
  display: block;
  margin: 0 auto;
}

.slide__img--small {
  max-height: 80%;
  max-width: 80%;
}

.slide__img--large {
  height: 50vh;
  max-height: 400px;
  margin: 0 auto 3em;
}

.action {
  font-size: 1.5em;
  line-height: 54px;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
  background: none;
}

.action:focus {
  outline: none;
}

.action--open {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 40px 40px 0;
  color: #fff;
  border-radius: 50%;
  background: #6cd84e;
  -webkit-transition: -webkit-transform 0.1s, background 0.1s, opacity 0.1s;
  transition: transform 0.1s, background 0.1s, opacity 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.action--open:focus,
.action--open:hover {
  background: #464653;
  -webkit-transform: scale3d(1.0865, 1.0865, 1);
  transform: scale3d(1.0865, 1.0865, 1);
}

.slide--open .action--open {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale3d(0.3, 0.3, 1);
  transform: scale3d(0.3, 0.3, 1);
}


button.action.action--close {

/*line-height: 25px;
font-size: 25px;*/
left: 0;
right: 0;
margin: 0 auto;
top: 60px;
position: fixed;
/*margin-top: 0 auto;*/
}

.action--close {
  /*position: absolute;*/
  /*z-index: 1001;*/
  /*top: -100px;*/
  /*right: 0px;
  left: 0px;
  margin: 0 auto;*/
  color: #6cd84e;
  -webkit-transition: -webkit-transform 0.1s, opacity 0.1s, color 0.1s;
  transition: transform 0.1s, opacity 0.1s, color 0.1s;
}

.action--close:focus,
.action--close:hover {
  color: #464653;
}

.slide--open ~ .action--close {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-delay: 0.5s, 0.5s, 0s;
  transition-delay: 0.5s, 0.5s, 0s;
}

.action--close,
.slide--close ~ .action--close {
  opacity: 0;
  -webkit-transform: scale3d(0.3, 0.3, 1);
  transform: scale3d(0.3, 0.3, 1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.js .slide__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
}

.js .slide--open .slide__content {
  pointer-events: auto;
  opacity: 1;
}

.slide__content-scroller {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 2em;
  position: relative;
}

.js .slide__content-scroller {
  position: fixed;
  min-height: 100vh;
  width: 100vw;
}

.slide__description {
  font-size: 1em;
  font-weight: bold;
  margin: 0.25em auto 3em;
  text-indent: 4px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #acacb3;
}

.button {
  font-weight: bold;
  width: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #fff;
  border: none;
  border-radius: 2px;
  background: #6cd84e;
  display: block;
}

.button:focus,
.button:hover {
  outline: none;
  background: #464653;
}

.navbutton {
  position: absolute;
  /*z-index: 1;*/
  top: 50%;
  left: 50%;
  width: 100px;
  height: 30px;
  margin: 0;
  margin: -50px 0 0 0;
  padding: 0;
  border: none;
  background: none;
}

.navbutton__line {
  -webkit-transition: stroke 0.2s;
  transition: stroke 0.2s;
}

.navbutton:focus {
  outline: none;
}

.navbutton:hover .navbutton__line {
  stroke: #464653;
}

.navbutton--next {
  -webkit-transform: translate3d(220px,-125px,0);
  transform: translate3d(220px,-125px,0);
}

.navbutton--prev {
  -webkit-transform: translate3d(-100%, 0, 0) translate3d(-220px,137px,0);
  transform: translate3d(-100%, 0, 0) translate3d(-220px,137px,0);
} /* +12 of difference */

/* Helper classes */

.lockscroll {
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
}

.noscroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
}

.noscroll .deco--expander {
  display: none;
}

.scrollable {
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #fff;
}

.scrollable .slide__content-scroller {
  position: fixed;
  margin-top: 100px;
}

@media screen and (max-width: 50em) {
  .deco--title {
    right: -50px;
    left: -50px;
  }
  .deco--circle,
  .slide__inner {
    width: 260px;
    height: 260px;
  }
  .deco--expander {
    margin: -130px 0 0 -130px;
  }
  .deco--circle-left {
    right: calc(100% - 50px);
  }
  .deco--circle-right {
    left: calc(100% - 50px);
  }
  .slideshow {
    margin-top: 0;

  }
  .action--open {
    margin: 0 12px 12px 0;
  }
  .slide__content-scroller {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .slide__img--large {
    margin: 0 auto 2em;
  }
  .slide__title--preview,
  .slide__title--main {
    font-size: 0.85em;
  }
  .slide__description {
    font-size: 0.5em;
  }
  .navbutton--next {
    -webkit-transform: translate3d(75px,-90px,0) scale3d(0.5,0.5,1);
    transform: translate3d(75px,-90px,0) scale3d(0.5,0.5,1);
  }
  .navbutton--prev {
    -webkit-transform: translate3d(-100%, 0, 0) translate3d(-75px,115px,0) scale3d(0.5,0.5,1);
    transform: translate3d(-100%, 0, 0) translate3d(-75px,115px,0) scale3d(0.5,0.5,1);
  }
}


@media only screen and (max-width: 550px) {
  .wrapper {
margin-bottom: 380px;
overflow: hidden;
position: relative;
  }

.deco--circle-right {
    left: calc(100% - 25px);
  }

.deco--circle-left {
    right: calc(100% - 25px);
  }

.slide {
  width: 100%;
}
  .slideshow {
    width: 100%;
  }

  }








