
/*-----------------------------------------------RESETS---------------------------------------*/
@font-face {
    font-family: 'Baron-Bold';
    src: url('../fonts/baron_neue_bold-webfont.eot');
    src: url('../fonts/baron_neue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/baron_neue_bold-webfont.woff2') format('woff2'),
         url('../fonts/baron_neue_bold-webfont.woff') format('woff'),
         url('../fonts/baron_neue_bold-webfont.ttf') format('truetype'),
         url('../fonts/baron_neue_bold-webfont.svg#baron_neue_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/gotham_light-webfont.eot');
    src: url('../fonts/gotham_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham_light-webfont.woff2') format('woff2'),
         url('../fonts/gotham_light-webfont.woff') format('woff'),
         url('../fonts/gotham_light-webfont.ttf') format('truetype'),
         url('../fonts/gotham_light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*-----------------------NAVIGATION BAR------------------*/

.navheader, .homenav {
  position: fixed;
  max-height: 45px;
  z-index: 999;
  width: 100%;
  padding: 2px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  opacity: 0;
  font-family: "Poiret One", sans-serif;
}

.navheader {
  top: -100px;
}

.homenav {
  top: 0;
}

.open-nav {
  max-height: 400px !important;
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
}
 
  nav ul {
    list-style: none;
    padding-top: 40px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }

  nav ul a {
  color: black;
  text-transform: uppercase;
  font-size: 12px;
}

nav ul a:hover {
  color: white;
  background-color: black;
}


.brandlogo {
  display: none;
}

li.brandli {
  display: none;
}

@media only screen and (min-width: 766px) {

.navheader, .homenav {
max-height: 48px;
}

nav ul {
  padding-top: 0px;
  margin-left: 10px;
}

nav ul li {
  padding: 4px 0;
}

nav ul li, .brandli {
  display: inline-block;
  margin-left: 38px;
  margin-right: 36px; 
  line-height: 1.5;
  width: auto;
  
}

nav ul li a:hover {
  color: #92AB50;
  text-decoration: underline;
  background: none;
}

.brandli {
  vertical-align: middle;
}

li.brandli {
  display: inline-block;
}

.brandlogo {
height: 35px;
width: 35px;
display: inline-block;
}

.brandlogo img {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  display: inline-block;
  display: -webkit-inline-box;
}

.mobile-toggle {
display: none;
}

}

.mobile-toggle {
  display: block;
  padding-top: 8px;    
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  /*right: 8px;*/
  right: 24px;
  top: 10px;
  /*top: 0;*/
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  }


@media only screen and (min-width: 766px) {
.mobile-toggle {
display: none;
}


}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}


/*-------------------------MENU ATOMIC BUTTON-------------------------*/
/*----------CREDIT : "https://dribbble.com/Alexcoven" ----------------*/


.atomic {
  height: 0px;
  border: 1.5px solid #333;
  width: 22px;
  display: block;
  position: absolute;
  transition: all 300ms cubic-bezier(.61, .01, .42, 1);
  background:#333;
}


button:hover .atomic:nth-child(3):before {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #F26451;
}

button:hover .atomic {
  border: 2px solid #333;
  height: 9px;
  border-radius: 50%;
  margin-left: -1px;
  margin-top: 2px;
  animation: atom 300ms linear 1;
  width: 25px;
  top: 0px;
  background:transparent;
}



.atomic:nth-child(1) {
  top: 0px;
}

.atomic:nth-child(2) {
  top: 8px;
}

.atomic:nth-child(3) {
  top: 16px;
}

.atomic:nth-child(3):before {
  opacity: 0;
  animation: ball 1.5s linear infinite;
  content: '';
  border: 2px solid #fff;
  display: block;
  position: relative;
  top: 0.25px;
}

button:hover .atomic:nth-child(1) {
  transform: rotate(-33deg);
}

button:hover .atomic:nth-child(2) {
  transform: rotate(90deg);
}

button:hover .atomic:nth-child(3) {
  transform: rotate(33deg);
}

button:hover .atomic:nth-child(3):before {
  opacity: 1;
  transition: opacity 600ms cubic-bezier(.61, .01, .42, 1);
  ;
}

button:active:hover .atomic:nth-child(3):before,
button:active .atomic:nth-child(3):before,
button:active .atomic:nth-child(2) {
  opacity: 0;
  transition: all 200ms;
}

button:active .atomic {
  border: 1.5px solid #fff;
  height: 0px;
  border-radius: 0%;
  margin-left: -1px;
  margin-top: 6px;
  animation: division 300ms linear 1;
  width: 25px;
  top: 0px;
}

button:active .atomic:nth-child(2) {
  width: 0px;
}

button:active .atomic:nth-child(3) {
  transform: rotate(45deg);
}

button:active .atomic:nth-child(1) {
  transform: rotate(-45deg);
}

@keyframes atom {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes division {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes ball {
  0% {
    left: -20%;
    top: 10%;
  }
  10% {
    left: 10%;
    top: -35%;
  }
  25% {
    left: 45%;
    top: -50%;
  }
  40% {
    left: 80%;
    top: -20%;
  }
  50% {
    left: 98%;
    top: 18%;
  }
  60% {
    left: 80%;
    top: 50%;
  }
  75% {
    left: 45%;
    top: 80%;
  }
  90% {
    left: 0%;
    top: 60%;
  }
  100% {
    left: -20%;
    top: 10%;
  }
}

/*------------------------END OF NAVBAR--------------------*/
/*----------------------------HOME--------------------*/

.home-section {
    position: relative;
    height: 100vh;
    background-image: url(../images/noodles.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
    }

.home-section.overlay:before {
  background-color: rgba(12, 12, 23, 0.8);
    opacity: .9;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.info {
  padding-top: 5px;
  position: absolute;
  width: 100%;
}

.info strong {
  color: black;
}

.info_left {
padding-left: 2%;

}
.info_right {
  padding-right: 2%;
}


.info_left p, .info_right p {
  text-align: center;
  margin-bottom: 1rem;
}

.info_left, .info_right {
  
  font-family: 'Poiret One', sans-serif;
  font-size: 9.5px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  width: 100%;
}

@media only screen and (min-width: 766px) {
  .info_left p {
  text-align: -webkit-auto;
}

.info_right p {
  text-align: right;
}

  .info_left, .info_right {
    font-size: 10.5px;
    
}

.info_left {
  float: left;
  width: 40%;
}

.info_right {
  float: right;
  width: 60%;
}

}

.home-content {
    position: absolute;
    display: table;
    height: 100%;
    width: 100%;
    color: #ffffff;
}

/*-----------------------HOME BRAND NAME------------------*/

.home-content-inner {
     position: relative; 
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#logo {
  width: 65px;
}


.h1 { 
  position: relative;
    margin-top: 0;
    font-size: 40px;
    letter-spacing: .1em;
    margin-right: -0.1em;
    line-height: 1.2;
    font-weight: 900;
    color: #fff;
    opacity: 1;
    font-family: 'Baron-Bold', sans-serif;
}

.h4 {
    position: relative;
    margin-top: 0;
    font-size: 12px;
    letter-spacing: .35em;
    margin-right: -0.35em;
    line-height: 1.2;
    font-weight: bolder;
    font-family: 'Gotham-Light', sans-serif;
    text-transform: uppercase;
}



@media screen and (min-width: 481px){
  #logo {
  width: 100px;
}

.h1 {
    font-size: 60px;
    line-height: 1.3;
  }


.h4 {
font-size: 13px;
}

}

@media screen and (min-width: 768px){
  #logo {
  width: 125px;
}

.h1 {
    font-size: 75px;
    line-height: 1.3;
}

.h4 {
font-size: 15px;
}

}

@media screen and (min-width: 992px){
#logo {
  width: 150px;
}

.h1 {
    font-size: 90px;
    line-height: 1.3;
}

}

.brandAnimation-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
    letter-spacing: 18px;
    }

 .brandAnimation-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 50%;
    font-weight: inherit;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
   }

 .brandAnimation-words-wrapper em {
  font-style: normal;
 }

.brandAnimation-words-wrapper b.is-visible {
    position: relative;
    opacity: 1;
    font-style: normal;
}

.brandAnimation-void {
min-width: 15px;
}

/* --------------------------------  xrotate-2 (BRAND NAME) -------------------------------- */

.brandAnimation-title.rotate-2 i,
.brandAnimation-title.rotate-2 em {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.brandAnimation-title.rotate-2 b {
  opacity: 0;
}
.brandAnimation-title.rotate-2 i {
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, -20px) rotateX(90deg);
  -ms-transform: translate3d(0, 0, -20px) rotateX(90deg);
  transform: translate3d(0, 0, -20px) rotateX(90deg);
  opacity: 0;
}
.is-visible .brandAnimation-title.rotate-2 i {
  opacity: 1;
}
.brandAnimation-title.rotate-2 i.in {
  -webkit-animation: brandAnimation-rotate-2-in 0.5s forwards;
  animation: brandAnimation-rotate-2-in 0.5s forwards;
}
.brandAnimation-title.rotate-2 i.out {
  -webkit-animation: brandAnimation-rotate-2-out 0.5s forwards;
  animation: brandAnimation-rotate-2-out 0.5s forwards;
}
.brandAnimation-title.rotate-2 em {
  -webkit-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  transform: translateZ(20px);
}
.no-csstransitions .brandAnimation-title.rotate-2 i {
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 0;
}
.no-csstransitions .brandAnimation-title.rotate-2 i em {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@-webkit-keyframes brandAnimation-rotate-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg);
  }
}
@keyframes brandAnimation-rotate-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    -ms-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg);
    -ms-transform: translateZ(-20px) rotateX(-10deg);
    transform: translateZ(-20px) rotateX(-10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg);
    -ms-transform: translateZ(-20px) rotateX(0deg);
    transform: translateZ(-20px) rotateX(0deg);
  }
}
@-webkit-keyframes brandAnimation-rotate-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg);
  }
}
@keyframes brandAnimation-rotate-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0);
    -ms-transform: translateZ(-20px) rotateX(0);
    transform: translateZ(-20px) rotateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg);
    -ms-transform: translateZ(-20px) rotateX(-100deg);
    transform: translateZ(-20px) rotateX(-100deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg);
    -ms-transform: translateZ(-20px) rotateX(-90deg);
    transform: translateZ(-20px) rotateX(-90deg);
  }
}



/*-----------------------SCROLLING------------------*/


.fa {
   display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.scroll-down-arrow {
    position: absolute;
    bottom: 0;
    left: calc(50% - 5.5px);
    
    -webkit-animation-name: scroll-down-anim;
    animation-name: scroll-down-anim;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    z-index: 6;
}


.scroll-down:hover:before
{
      opacity: .6;

}

.scroll-down:before {
  display: block;
    content: "";
    width: 22px;
    height: 22px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    z-index: 1;
}

.fa-angle-down:before {
content: "\f107";
}

.scroll-down {
    height: 40px;
    margin-left: -6px;
    position: absolute;
    bottom: 20px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0 );
}


.scroll-down-icon {
  display: block;
    width: 0px;
    height: 15px;
    margin-left: 4px;
    position: absolute;
    left: 50%;
    bottom: 4px;
    color: #111;
    font-size: 22px;
    z-index: 2;

}


@-webkit-keyframes scroll-down-anim {
  0%{ bottom: 2px; }
  50%{ bottom: 7px; }
  100%{ bottom: 2px; }
}
@-moz-keyframes scroll-down-anim {
  0%{ bottom: 2px; }
  50%{ bottom: 7px; }
  100%{ bottom: 2px; }
}
@-o-keyframes scroll-down-anim {
  0%{ bottom: 2px; }
  50%{ bottom: 7px; }
  100%{ bottom: 2px; }
}
@keyframes scroll-down-anim {
  0%{ bottom: 2px; }
  50%{ bottom: 7px; }
  100%{ bottom: 2px; }
}


/*------------------------------END OF HOME-------------------*/
.content {
  position: relative;
  background: white;
  margin-bottom: 445px;
  overflow: hidden; }

  .content article {
    padding: 80px 5% 50px 5%; /* top,right,bottom,left*/
    max-width: 750px;
    margin: 0 auto;
    text-align: center; }

@media only screen and (min-width: 550px) {
  .content {
  margin-bottom: 250px;
  }
}

@media only screen and (min-width: 680px) {
  .content article {
    padding: 80px 0px 15px 0px;}

  .food-category-pics {
  margin-bottom: 100px; }

  .blog-posts {
  margin-bottom: 100px; }

  .large-window {
  margin-top: 40px;}
}

@media only screen and (min-width: 401px) and (max-width: 768px){

.three.columns{
min-width: 40%;
}

.food-category-pics {
  margin-left: 10%;
}

}


img {
  max-width: 100%; }

.food-category-pics {
  margin-bottom: 40px; }

  .food-category-pics figure {
    margin-bottom: 20px;
    position: relative;
    opacity: 0;
    transform: translateX(30px);
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    cursor: pointer; }

    .food-category-pics figure.is-showing {
      opacity: 1;
      transform: translateX(0px); }

    .food-category-pics figure img {
      display: block;
      transform: scale(1);
      transition: all 0.3s ease-in-out; }

    .food-category-pics figure:hover figcaption {
      left: 1%; 
      right: 1%;}

    .food-category-pics figure:hover img {
      transform: scale(1.1);
      opacity: 0.5; }

  .food-category-pics figcaption {
    position: absolute;
    bottom: 10px;
    left: -100%;
    background: #F9A03F;
    color: white;
    padding: 2px 8px;
    font-size: 11px;
    transition: all 0.3s ease-in-out; 
   border-radius: 5px;
    }

#map {
  height: 500px;
}

.large-window {
  height: 500px;
  position: relative;}

  .large-window .window-tint {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;}

  .large-window .promo-text {
    color: white;
    font-weight: 100;
    font-size: 50px;
    line-height: 1.2; }

    .large-window .promo-text strong {
      display: block;
      font-size: 30px; }

    .large-window .promo-text span {
      font-weight: 300;
      font-size: 18px;
      font-style: italic;
      color: rgba(255, 255, 255, 0.6); }

    .large-window .promo-text .window-cta {
      font-size: 20px;
      text-decoration: none;
      color: white;
      border: 1px solid white;
      padding: 10px 20px;
      transition: all 0.3s ease-in-out; }

      .large-window .promo-text .window-cta:hover {
        background: white;
        color: black; }

.blog-posts {
  margin-bottom: 40px; }

  .blog-posts .post {
    border: 1px solid #e1e1e1;
    padding: 20px 20px 0;
    background: white;
    position: relative; }

  .blog-posts .post-1 {
    transform: translate(100px, 20px); }

  .blog-posts .post-2 {
    z-index: 2; }

  .blog-posts .post-3 {
    transform: translate(-100px, 20px); }

  .alignCenter {
    text-align: center;
  }

/*GOOGLE MAPS STYLING*/
.gm-style-iw {
   width: 250px !important;
   height: 300px !important;
   top: 0px !important;
   left: 0px !important;
   padding: 5%;
   background-color: rgba(51,51,51, 0.9);
   color: white;
   content: "";
   text-align: left;
   font-family:'Poiret One';
   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border-radius: 2px 2px 0 0;
}


.gm-style-iw strong {
  font-family: 'Baron-Bold', 'Josefin Slab';
  font-size: 25px;
}

.gm-style-iw b {
  font-family: 'Baron-Bold', 'Josefin Slab';
  font-size: 13px;
}

.gm-style-iw .button {
  color: #333;
  background-color: white;
  font-family: 'Baron-Bold', sans-serif;
  height: 28px;
  padding: 0px 30px;
  line-height: 28px;
}

.gm-style-iw p {
vertical-align: middle;
}


/*Social Feed*/


.juicer-feed.white li.feed-item {
  height: auto;
  max-height: 500px;
  padding: 0px;
  margin-bottom: 0;
  border: 0;
  font-weight: 900;
  font-family: 'Poiret One', sans-serif;

}

.juicer-feed .j-loading, .juicer-feed .j-paginate {
    margin: 0px auto 50px auto;
}


/*
.juicer-feed.image-grid .j-text .j-message p:last-of-type, .juicer-feed.image-grid .j-text .j-edit p:last-of-type, .juicer-feed.slider .j-text .j-message p:last-of-type, .juicer-feed.slider .j-text .j-edit p:last-of-type, .juicer-feed.hip .j-text .j-message p:last-of-type, .juicer-feed.hip .j-text .j-edit p:last-of-type {
    margin: 0;
    font-size: smaller;
    color: white;
    font-family: 'Poiret One', sans-serif;
    text-align: left;
    cursor: pointer;
}

.juicerfeed {
  letter-spacing: 2px;
}
*/

/*@media only screen and (max-width: 480px){
ul.juicer-feed img {
  min-height: 350px !important;
  max-height: 350px !important;
  margin-bottom: 20px;
}

}

@media only screen and (max-width: 679px){

}

.juicer-feed .j-meta a:hover, .juicer-feed a:hover {
    color: #F9A03F;
}

.juicer-feed .j-meta a {
 color: #92AB50;
}

.post-overlay.juicer-feed a.juicer-button, .juicer-feed .j-paginate {
  border-radius: 8px;
  border-color: #F9A03F;
  color: #F9A03F;
  font-family: 'Baron-Bold', 'Poiret One';
  text-transform: lowercase;
  }

.post-overlay.juicer-feed a.juicer-button:hover,.juicer-feed .j-paginate:hover {
  background-color: #F9A03F;
  color: white;
  font-family: 'Baron-Bold', 'Poiret One';
  text-transform: lowercase;
}

.j-poster h3, .j-poster .j-date {
  overflow: visible;
}
*/

/*FOOTER*/

footer{
  background: #333;
  color: white;
  padding: 40px 40px 10px 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  font-size: 0.8em; }

  footer .footer-stuff {
    max-width: 640px;
    margin: 0 auto; }

  footer a {
    color: white; }

  footer input {
    color: #666; }
    

@media only screen and (min-width: 550px) {

  footer .columns.twelve {
  width: initial;
  }

  footer {
  padding: 10px 0;
  }
  
  footer ul li {
    display: inline-block;
  }

}

